# Uncertain
__pycache__/*

# iPython Notebook
.ipynb_checkpoints/*

# IntelliJ Project Files
.idea/*

# Raw Data File
Accidents.txt

# Generated Data Files
all_narrative_cleanup.txt
all_narrative_tagged.txt
